<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard">หน้าแรก</a></li>
      <li class="breadcrumb-item"><a routerLink="/organization">จัดการหน่วยงาน</a></li>
      <li class="breadcrumb-item active" aria-current="page">แก้ไขหน่วยงานระดับ รพ./รพ.สต./อปท.</li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-header">
      แก้ไขหน่วยงานระดับ รพ./รพ.สต./อปท.
    </div>
    <div class="card-body">
      <form class="" [formGroup]="formGroup" (ngSubmit)="updateOrganization()">
        <div class="form-container">
          <mat-form-field class="full-width">
            <mat-label>ID</mat-label>
            <input matInput placeholder="" [(ngModel)]="id" formControlName="id" [disabled]="true" />
          </mat-form-field>

          <mat-form-field class="half">
            <mat-label>ชื่อหน่วยงาน</mat-label>
            <input type="text" matInput placeholder="" value="" formControlName="name" required [(ngModel)]="name" />
          </mat-form-field>
          <mat-form-field appearance="fill" class="half">
            <mat-label>หน่วยงานบังคับบัญชา</mat-label>

            <mat-select [(value)]="organization" formControlName="organization">
              <mat-option *ngFor="let organization of organizations"
                [value]="{ byid: organization.id, byname: organization.name }" required>{{ organization.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>ที่อยู่</mat-label>
            <input type="text" matInput placeholder="ที่อยู่" value="" formControlName="address" required
              [(ngModel)]="address" />
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>เบอร์โทรศัพท์</mat-label>
            <input type="text" matInput placeholder="เบอร์โทรศัพท์" value="" formControlName="telephone" required
              [(ngModel)]="telephone" />
          </mat-form-field>

          <button mat-raised-button class="half" type="submit" color="primary">
            อัพเดท
          </button>
          <button mat-raised-button class="half" type="submit" color="warn" (click)="cancle()">
            ยกเลิก
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="50">
    <form class="" [formGroup]="formGroup" (ngSubmit)="updateOrganization()">
      <div class="form-container">
        <mat-form-field class="full-width">
          <mat-label>ID</mat-label>
          <input matInput placeholder="" [(ngModel)]="id" formControlName="id" [disabled]="true" />
        </mat-form-field>

        <mat-form-field class="half">
          <mat-label>หน่วยงาน</mat-label>
          <input type="text" matInput placeholder="" value="" formControlName="name" required [(ngModel)]="name" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="half">
          <mat-label>หน่วยงานบังคับบัญชา</mat-label>

          <mat-select [(value)]="organization" formControlName="organization">
            <mat-option *ngFor="let organization of organizations"
              [value]="{ byid: organization.id, byname: organization.name }" required>{{ organization.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>ที่อยู่</mat-label>
          <input type="text" matInput placeholder="ที่อยู่" value="" formControlName="address" required
            [(ngModel)]="address" />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>เบอร์โทรศัพท์</mat-label>
          <input type="text" matInput placeholder="เบอร์โทรศัพท์" value="" formControlName="telephone" required
            [(ngModel)]="telephone" />
        </mat-form-field>

        <button mat-raised-button class="half" type="submit" color="primary">
          อัพเดท
        </button>
        <button mat-raised-button class="half" type="submit" color="warn" (click)="cancle()">
          ยกเลิก
        </button>
      </div>
    </form>
  </mat-card>
</div>-->