table {
  width: 100%;
}
button {
  margin-right: 2%;
}
.main-div mat-card {
  padding: 10px;
}
.example-spacer {
  flex: 1 1 auto;
}
.green {
  color: chartreuse;
}

.fontsize {
  font-size: 18px;
}

th,
td,
button,
a {
  font-family: "Kanit", sans-serif;
}

.container {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #405065;
}

.search-hero {
  max-width: 500px;
  padding-bottom: 50px;
  margin: auto;
}

.form-control {
  box-shadow: 0 10px 40px 0 #b0c1d9;
}
.form-control::placeholder {
  font-family: FontAwesome;
}
.full-width {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
