table {
  width: 100%;
}
button {
  margin-right: 2%;
}
.main-div mat-card {
  padding: 10px;
}

.container {
  margin-top: 40px;
}

.full-width {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.half-width {
  width: 37%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.half {
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 45%;
}

.gender-width {
  width: 11%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.test {
  margin-left: 2.5%;
  margin-right: 2.5%;
}
th,
td,
button,
a,
input,
mat-label,
h3 {
  font-family: "Kanit", sans-serif;
}
