<p align="center">
  ยินดีต้อนรับ <br />ชื่อ-นามสกุล : {{ name }}<br />
  สังกัด : {{ organization }} <br />หน่วยงาน :
  {{ agency }}
</p>

<div class="container">
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card bg-primary text-white mb-4">
        <div class="card-body">ผู้ใช้งานทั้งหมด</div>
        <div
          class="card-footer d-flex align-items-center justify-content-between"
        >
          {{ numtotal }} ผู้ใช้งาน
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-warning text-white mb-4">
        <div class="card-body">Supporter 3</div>
        <div
          class="card-footer d-flex align-items-center justify-content-between"
        >
          {{ numsup3 }} ผู้ใช้งาน
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-success text-white mb-4">
        <div class="card-body">Supporter 2</div>
        <div
          class="card-footer d-flex align-items-center justify-content-between"
        >
          {{ numsup2 }} ผู้ใช้งาน
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-danger text-white mb-4">
        <div class="card-body">Supporter 1</div>
        <div
          class="card-footer d-flex align-items-center justify-content-between"
        >
          {{ numsup1 }} ผู้ใช้งาน
        </div>
      </div>
    </div>
  </div>
</div>
