<!--<p align="center">
  ยินดีต้อนรับ <br />ชื่อ-นามสกุล : {{ name }}<br />
  สังกัด : {{ organization }} <br />หน่วยงาน :
  {{ agency }}
</p>-->
<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="col-xl-6 col-md-6">
      <div class="card mb-4">
        <div class="card-header">ผู้ใช้งานทั้งหมด</div>
        <div class="card-body d-flex align-items-center justify-content-between">
          {{ numtotal }} ผู้ใช้งาน
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card mb-4">
        <div class="card-header">ผู้ใช้งานระดับสสจ.</div>
        <div class="card-body d-flex align-items-center justify-content-between">
          {{ numsup3 }} ผู้ใช้งาน
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header">ผู้ใช้งานระดับสสอ.</div>
        <div class="card-body d-flex align-items-center justify-content-between">
          {{ numsup2 }} ผู้ใช้งาน
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">ระดับผู้ใช้งานระบบรพ./รพ.สต./อปท.</div>
        <div class="card-body d-flex align-items-center justify-content-between">
          {{ numsup1 }} ผู้ใช้งาน
        </div>

      </div>
    </div>
  </div>
</div>