<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="50">
    <form class="" [formGroup]="formGroup" (ngSubmit)="updateUser()">
      <div class="form-container">
        <mat-form-field class="full-width">
          <mat-label>ID</mat-label>
          <input
            matInput
            placeholder=""
            [(ngModel)]="id"
            formControlName="id"
            [disabled]="true"
          />
        </mat-form-field>

        <mat-form-field class="half-width">
          <mat-label>ชื่อจริง</mat-label>
          <input
            [(ngModel)]="FirstName"
            type="text"
            matInput
            placeholder=""
            value=""
            formControlName="first_name"
            required
          />
        </mat-form-field>

        <mat-form-field class="half-width">
          <mat-label>นามสกุล</mat-label>
          <input
            type="text"
            matInput
            placeholder=""
            value=""
            formControlName="last_name"
            required
            [(ngModel)]="LastName"
          />
        </mat-form-field>

        <mat-form-field class="gender-width">
          <mat-label>เพศ</mat-label>
          <input
            type="text"
            matInput
            placeholder=""
            value=""
            formControlName="gender"
            required
            [(ngModel)]="Gender"
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>อีเมล</mat-label>
          <input
            type="text"
            matInput
            placeholder=""
            value=""
            formControlName="email"
            required
            [(ngModel)]="Email"
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>โทรศัพท์</mat-label>
          <input
            type="text"
            matInput
            placeholder=""
            value=""
            formControlName="number"
            required
            [(ngModel)]="number"
          />
        </mat-form-field>
        <mat-form-field class="half">
          <mat-label>หน่วยงาน</mat-label>
          <input
            type="text"
            matInput
            placeholder=""
            value=""
            formControlName="agency"
            required
            [(ngModel)]="agency"
          />
        </mat-form-field>

        <mat-form-field appearance="fill" class="half">
          <mat-label>องค์กร</mat-label>

          <mat-select [(value)]="organization" formControlName="organization">
            <mat-option
              *ngFor="let organization of organizations"
              [value]="organization.id"
              required
              >{{ organization.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>สถานะ</mat-label>
          <mat-select
            formControlName="permission"
            [(value)]="permission"
            required
          >
            <mat-option
              *ngFor="let permission of permissions"
              [value]="permission.permission"
              >{{ permission.status }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <button mat-raised-button class="half" type="submit" color="primary">
          อัพเดท
        </button>
        <button
          mat-raised-button
          class="half"
          type="submit"
          color="warn"
          (click)="cancle()"
        >
          ยกเลิก
        </button>
      </div>
    </form>
  </mat-card>
</div>
